.form-container {
    background-color: #fdfdfd;
    padding: 25px;
    border-radius: 8px;
    width: 300px; /* diminuída para se adequar melhor */
    margin: 60px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Botões alinhados como na página de alunos */
.botoes-formulario {
    margin-top: 25px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.botao-salvar {
    background-color: #1e88e5;
    color: white;
    padding: 9px 18px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.botao-salvar:hover {
    background-color: #1565c0;
}

.botao-voltar {
    background-color: #757575;
    color: white;
    padding: 9px 18px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

.botao-voltar:hover {
    background-color: #616161;
}
